html{
    min-height: 100%;
    overflow: hidden;
  }

body{
    height: calc(100vh - 8em);
    padding: 4em;
    color: #ccccff;
    font-family: 'Anonymous Pro', monospace;  
    background-color: #FFFBEB;
  }

.mainrectangle{
      width: 750px;
      height: 600px;
      background: #7AD0D5;
      float:center;
      overflow-x: hidden;
      margin: 100px 0px 100px 0px;
  }


.smallermainrect{
    width: 650px;
    height: 600px;
    background: white;
    float:center;
    overflow-x: hidden;
    margin: 40px 0px 0px 0px;
}