{% extends "layout.html" %}

{% block title %}
About Us
{% endblock %}

{% block main %}
    <header class="py-5 bg-image-full" style="background-color: #FFFBEB;">
  </header>
<!--   Image Section - set the background image for the header in the line below -->
  <style>
   .mainrectangle {
      width: 500;
      height: auto;
      background: #7AD0D5;
      float: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      text-align: center;
  }

   </style>
  <!-- Content section -->
  <div class="mainrectangle" >
  <section class="py-5">
    <div class="container" style="background-color: #F7FFFF; color:black; height: 500px">
        <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='images/logo2.png') }}" width="500" height="100" alt="" style="background-color: #F7FFFF;">
      <p class="lead"><p><br></p><p>Login. Upload. Done. </p>
      <p>Automatically record your calories intake with an easy upload image of your food receipts. </p>

      </p>
    </div>

  </section>
</div>
{% endblock %}