{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Meal</th>
        <th scope="col">Restaurant</th>
        <th scope="col">Average Calories</th>
      </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <th scope="row">{{ row.date_created }}</th>
            <td>{{ row.food_name }}</td>
            <td>{{ row.restaurant }}</td>
            <td>{{ row.mean_value }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}