{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
<div class="center-forms">
<form action="/login" method="post">
  <div class="form-group" style="align-content: center;">
    <label for="username">Username</label>
    <input type="text" autofocus class="form-control" id="username" placeholder="Username" name="username">
    <small id="emailHelp" class="form-text text-muted">Please enter a username.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}