{% extends "layout.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block main %}

<div class="center-forms">
    <form action="/signup" method="post">
        <div class="form-group" style="align-content: center;">
            <label for="username">Name</label>
            <input type="text" autofocus autocomplete="off" class="form-control" id="username"
                placeholder="First name, Last name" name="username">
            <label for="username">Username</label>
            <input type="text" autocomplete="off" class="form-control" id="username"
                placeholder="Username" name="username">
            <small id="emailHelp" class="form-text text-muted">Please enter a username.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>
        <div class="form-group">
            <label for="confirmation">Confirm Password</label>
            <input type="password" class="form-control" id="confirmation" placeholder="Confirm Password" name="confirmation">
        </div>
        <button type="submit" class="btn" style="background-color: #7AD0D5; border-color: #7AD0D5;">Submit</button>
    </form>
</div>

{% endblock %}