{% extends "layout.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block main %}
<!--     <form action="/signup" method="post">-->
<!--        <div class="form-group">-->
<!--            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <input class="form-control" name="password" placeholder="Password" type="password"/>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password"/>-->
<!--        </div>-->
<!--        <button class="btn btn-primary" type="submit">Register</button>-->
<!--    </form>-->

<style>
  .body {
    background-color: #F0AB1E;
    font-family: 'Montserrat';
  }
</style>

<!-- Navigation -->

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">-->
<!--  <style>-->
<!--    .navbar-style {-->
<!--      background-color: #F0AB1E;-->
<!--    }-->
<!--  </style>-->

<!--  <div class="container">-->
<!--    <a class="navbar-brand" href="#">calorie vision</a>-->
<!--    <style>-->
<!--      .navbar-toggler a:hover {-->
<!--        background-color: #F0AB1E;-->
<!--        color: white;-->
<!--        font-family: 'Montserrat';-->
<!--      }-->
<!--    </style>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"-->
<!--      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--      <ul class="navbar-nav ml-auto">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" href="index.html">Home-->
<!--            <span class="sr-only">(current)</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="login.html">login</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="signup.html">signup</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="upload.html">upload</a>-->
<!--        </li>-->

<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->

<!--</nav>-->

{% endblock %}